.azul-quality{
    color: rgb(17,23,40);
}
.vermelho-quality{
    color: rgb(237,77,74);
}
.azul{
    color: #1a1d2b;
}
.vermelho{
    color: #cb4e4b;
}
.ae{
    color:rgb(243,125,32);
    color: #fe5000
}
body, body  *{
    background-color:snow ;
    color: #cb4e4b;
    font-family: 'Raleway', sans-serif;
}
input{
    border: 0cm;    
}
input:active{
    border: 0cm;
}
.arrow{    
    transition: transform 0.35s ease;
}
.arrow:focus{
    box-shadow: none;
}
.arrow::before{
    width: 1.25em;
    line-height: 0;
    content: url("svg/arrow.svg");
    transform-origin: 0.5em 50%;
    /* filter: invert(100%) sepia(400%) saturate(900%) hue-rotate(10deg) brightness(1008%) contrast(1009%); */
}
.arrow[aria-expanded="true"] {
    transform: rotate(90deg);
}
#remove{
    display: none;
}
.processo:hover  #remove {
    display:inline-block;
}

/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
} */